html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-weight: normal;
  font-family:'Neue Helvetica W01', 'Libre Franklin', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

p {
  font-size: 13pt;
  padding-bottom: 5px;
}


/* ------------------ Header & Footer ------------------ */


.aboutmelarge {
  font-size: 24pt;
  font-weight: 500;
  border-bottom: 1px solid #d80000;
}

.aboutmepara {
    font-size: 14pt;
}

.headfont {

}

.headerborder {
  left: 50%;
}

hr.headerbreak {
  height: 3px;
}

hr.smallbreak {
  height: 1px;
}

.bodycontent {
  padding-left: 30px;
}

.nav {
  padding-top: 160px;
    padding-right: 0px;
    padding-left: 0px;
  position: fixed;
  width: 200px;
}

.nav a:hover {
    text-decoration: none;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.tagline {
    font-weight: 200;
    font-size: 14px;
    color: #000000;
    line-height: 13pt;
    padding-bottom: 10px;
    text-decoration: none;
}


body a:hover {
    text-decoration: none;
    color: #d80000;   
}


.tagline a {
  display: block;
    text-decoration: none;
}

.tagline a:hover {
    text-decoration:none;
}


.copyright {
  font-size: 9pt;
  line-height: 12pt;
    padding-top: 5px;
}


.header p a:link {
  color: #666;
  text-decoration: none;
}

.header p a:visited {
  color: #666;
  text-decoration: none;

}

.header p a:active {
  color: #DB0000;
  text-decoration: none;
}



/* ------------------ Body ------------------ */

.portfolio div[class*='col'] {
  padding: 0 5px;
}

.projectname {
    color:#a9a9a9;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

.portable
{
    padding-left: -30px;
}

.projectname img {
  width: 100%;
  padding-bottom: 5px;
}

.projectname:hover {
   color: #d80000;
}
.projectnametext:hover {
    color: #d80000;
}

.portfolio .row {
  padding: 8px 10px;
}

.portfolio-subpage p {
  font-size: 16px;
}

.portfolio-subpage .row {
  margin-top: 10px;
}

.jumbo {
  font-size: 4vw;
  line-height: 6.4vw;
}

.jumbofont {
  line-height: 400px;
}

.navbuttons {
    font-weight: 300;
    line-height: 40px;
    font-size: 11pt;
    padding-bottom: 15px;
}

.navbuttons a {
  display: block;
}

.navbuttons a:hover {
    text-decoration:none;
    color: #d80000;
}

h3 {
  font-size: 38px;
  font-weight: 500;
  margin-left: -0px;
}

h6 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
}

h7 {
    font-weight: 500;
    border-bottom: 1px solid #d80000;
    line-height: 25pt;
}

.space {
  padding: 10px;
}


table tr td {
  text-align: left;
}

.work
{
  width: 60vw;
}

table.work {

}

table.work tr td:first-child {
  text-align: right;
  vertical-align: top;
  min-width: 150px;
  width: 15%;
}


table.work tr td:second-child {
  text-align: left;
  vertical-align: top;
  columns: 200px;
}
.skillshead {
  color:#a9a9a9;
  font-size: 16px;
}

.skillscontent  {
  vertical-align: top;
  width: 10px;
}


.table.work th, td {
  padding: 15px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    padding-top:10px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h9 {
    font-size: 10pt;
    line-height: 16pt;
    color: #a9a9a9;
    border-bottom: 10px;
}

.bodyunder {
  border-bottom: .5px solid #d80000;
}


.bold {
    font-weight: 500;
}

.maincontent,
.maincontent2,
.maincontent3,
.maincontent4 {
  padding-top: 176px;
  padding-left: 230px;
}

.buttonspacer {
    padding-top: 30px;
    padding-left: 240px;
}

.skilltable {
  width: 60vw;
}

author {
  font-style: italic;
}

.port {
  width: 100%;
  text-align: center;
    padding: 10px 10px 10px 10px;
}

.smallsp { 
    height: 5px;
}
.processes {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: darkgrey;
    text-decoration: line-through;
}

.headshotpic {
width: 100%;
    max-width: 108px;
    max-height: 327px;
}

.processesa {
    color: #d80000;
    font-weight: 600;
    line-height: 20px;
    align-content: center;
    }

.borderline { 
margin-top: 15px;
    border-bottom: 0.5px solid lightgrey; 
    margin-bottom: 20px;
}

.port-pic {
  width: 100%;
  text-align: center;
    padding: 2px 2px 2px 2px;
}

.dropdown {
 font-size: 20px;
}

.work {
  padding: 15px 0;
}

.work .col {
  padding: 0 15px;
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.date {
  color: #a9a9a9;
  font-size: 14px;
    padding-bottom: 1pt;
}

.position {
  font-size: 18px;
  border-bottom: 1px solid #d80000;
    line-height: 20pt;
    padding-bottom: 1pt;
    font-weight: 400;
}

.subposition
{
    font-size: 15px;
    border-bottom: 1px solid #cbcbcb;
    line-height: 18pt;
    margin-left: 20px;
}

.company {
    font-size: 16px;
    line-height: 30px;
    color: #808080;
    padding-bottom: 1pt;
}

.special {
    font-weight: 500;
}

.location
{
    
}

.jobinfo
{

}

.joblist {
    padding-left: 30px;
}

.jobinfo ul li {
  list-style-type: circle;
}

li {
  list-style-type: circle;
}

.jobspacer {
    padding-top: 20px;
}

.sectionspacer {
    padding-top: 50px;
}

/* ------------------ Buttons ------------------ */



.btn.btn-primary {
  border-radius: 2px;
  border: 0px;

  text-shadow: none;
  background-color: #ffffff;
}

.btn-primary:hover {
        color: #d80000;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
}

.btn-info {
    border-radius: 2px;
  border: 1px solid #f6f6f6;
color: black;
  text-shadow: none;
  background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.btn-info:hover {
        color: #d80000;
    background-color: #ffffff;
     border: 1px solid #f6f6f6;
}


/* ----------------- Coloumns ---------------- */

.wrap {
   width:600px;
   margin:0 auto;
}
.left_col {
   float:left;
}
.right_col {
   float:right;
}

/* ------------------ Misc. ------------------ */

@font-face {
  font-family: 'us101';
  src: url('fonts/us101-webfont.woff2') format('woff2'),
     url('fonts/us101-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.redfont {
  color: #DB0000;
  font-weight: 500;
}

.headername {
  color: #000000;
  font-family: 'us101';
  font-size: 40px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transform : scale(1,1.5);
    -webkit-transform:scale(1,.87); /* Safari and Chrome */
    -moz-transform:scale(1,.87); /* Firefox */
    -ms-transform:scale(1,.87); /* IE 9+ */
    -o-transform:scale(1,.87); /* Opera */
  letter-spacing: -1.4px;
}

.Raha {
  color: #DB0000;
}

 .headshot {
  max-width: 200px;
  max-height: 750px;
  width: 30%;
  height: auto;
  float: right;
}


/* --------------- Accordian --------- */

input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background: url(http://placekitten.com/g/600/300);
  color: #FFF;
}

#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "-";
}