html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-weight: normal;
  font-family:'Neue Helvetica W01', 'Libre Franklin', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

p {
  font-size: 13pt;
  padding-bottom: 5px;
}


/* ------------------ Header & Footer ------------------ */


.aboutmelarge {
  font-size: 24pt;
  color: #D80000;
  font-weight: 500;
}

.headfont {

}

.headerborder {
  left: 50%;
}

hr.headerbreak {
  height: 3px;
}

hr.smallbreak {
  height: 1px;
}

.bodycontent {
  padding-left: 30px;
}

.nav {
  padding-top: 100px;
  position: fixed;
  max-width: 200px;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.tagline {
  font-weight: 200;
  font-size: 14px;
  color: #000000;
  line-height: 13pt;
}

.copyright {
  font-size: 9pt;
  line-height: 12pt;
}

.tagline a:hover {
  text-decoration: none;
}

header p a:link {
  color: #666;
  text-decoration: none;
}

header p a:visited {
  color: #666;
  text-decoration: none;

}

header p a:hover {
  color: #DB0000;
  text-decoration: none;
}

header p a:active {
  color: #DB0000;
  text-decoration: none;
}



/* ------------------ Body ------------------ */

.portfolio div[class*='col'] {
  padding: 0 5px;
}

.projectname {
  color:#a9a9a9;
  font-size: 16px;
  padding: 1vm 1vm 1vm 1vm;
  text-align: center;
}

.projectname img {
  width: 100%;
  padding-bottom: 5px;
}

.portfolio .row {
  padding: 8px 10px;
}

.portfolio-subpage p {
  font-size: 16px;
}

.portfolio-subpage .row {
  margin-top: 10px;
}

.jumbotron {
  background-color: white;
  font-size: 4.3vw;
  line-height: 6.8vw;
  margin: 0px 0px 0px 15px;
  padding: 0px 0px 0px 0px;
}

.jumbofont {
  line-height: 400px;
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

.navbuttons {
  line-height: 40px;
  font-size: 11pt;
  padding-bottom: 15px;
}

.navbuttons a {
  display: block;
}

h3 {
  padding-bottom: 2px;
  font-size: 38px;
  font-weight: 500;
  margin-left: -0px;
}

h6 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
}

h7 {
    font-weight: 500;
    border-bottom: 1px solid #d80000;
}

.space {
  padding: 10px;
}


table tr td {
  text-align: left;
}

.work
{
  width: 60vw;
}

table.work {

}

table.work tr td:first-child {
  text-align: right;
  vertical-align: top;
  min-width: 150px;
  width: 15%;
}


table.work tr td:second-child {
  text-align: left;
  vertical-align: top;
  columns: 200px;
}
.skillshead {
  color:#a9a9a9;
  font-size: 16px;
}

.skillscontent  {
  vertical-align: top;
  width: 10px;
}


.table.work th, td {
  padding: 15px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

.maincontent {
  padding-top: 102px;
  padding-left: 170px;
}

.maincontent2 {
  padding-top: 115px;
  padding-left: 250px;
}

.skilltable {
  width: 60vw;
}


author {
  font-style: italic;
}

.port-pic {
  width: 100%;
  text-align: center;
}

.work {
  padding: 15px 0;
}

.work .col {
  padding: 0 15px;
}

.date {
  color: #a9a9a9;
  text-align: right;
  font-size: 16px;
  /*line-height: 20px;*/
}

.position {
  font-size: 18px;
  border-bottom: 1px;
  border-bottom-color: #D80000;
}

.company {
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.jobinfo ul li {
  list-style-type: circle;
}

li {
  list-style-type: circle;
}


/* ------------------ Buttons ------------------ */

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
}


/* ----------------- Coloumns ---------------- */

.wrap {
   width:600px;
   margin:0 auto;
}
.left_col {
   float:left;
}
.right_col {
   float:right;
}

/* ------------------ Misc. ------------------ */

@font-face {
  font-family: 'us101';
  src: url('fonts/us101-webfont.woff2') format('woff2'),
     url('fonts/us101-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.redfont {
  color: #DB0000;
  font-weight: 500;

}

.headername {
  color: #000000;
  font-family: 'us101';
  font-size: 40px;
  line-height: 32px;
  text-align: left;
  text-transform:uppercase ;
  text-decoration:none ;
  display: inline-block;
  transform : scale(1,1.5);
    -webkit-transform:scale(1,.87); /* Safari and Chrome */
    -moz-transform:scale(1,.87); /* Firefox */
    -ms-transform:scale(1,.87); /* IE 9+ */
    -o-transform:scale(1,.87); /* Opera */
  letter-spacing: -1.4px;
}

.Raha {
  color: #DB0000;
}

 .headshot {
  max-width: 200px;
  max-height: 750px;
  width: 30%;
  height: auto;
  float: right;
}
