html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* ------------------ Header & Footer ------------------ */


.headfont {
    font:
}

.headerborder {
    left: 50%;
}

hr.headerbreak {
    height: 3px;
}

hr.smallbreak {
    height: 1px;
}

.bodycontent {
    padding-left: 30px;
}

header {

}

h1 {
}

h7
{
    margin:0;
}

h8 {
    font-size: 16px;
}

.nav {
    padding-top: 100px;
    position: fixed;
    max-width: 200px;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.tagline {
	font-weight: normal;
	font-size: 12px;	
    color: #000000;
}

header p a:link {
    color: #666;
	text-decoration: none;
}

header p a:visited {
    color: #666;
	text-decoration: none;

}

header p a:hover {
    color: #DB0000;
	text-decoration: none;
}

header p a:active {
    color: #DB0000;
	text-decoration: none;
}



/* ------------------ Body ------------------ */

body {
    font-weight: normal;
    font-family: "HelveticaNeueLT Std Lt";
}

.jumbotron {
    background-color: white;
    font-size: 4.3vw;
    line-height: 5.2vw;
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
}

.jumbofont {
    line-height: 400px;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.navbuttons {
    line-height: 40px;   
}

h3 {
	padding-bottom: 2px;
	font-size: 30px;
    font-family: "HelveticaNeueLt Med";
    margin-left: -0px;
}

.space {
    padding: 10px;  
}


table tr td {
    text-align: left;
}

.work
{
    width: 60vw;
}

table.work {
   
}

table.work tr td:first-child {
    text-align: right;
    vertical-align: top;
    min-width: 150px;
    width: 15%;
}


table.work tr td:second-child {
    text-align: left;
    vertical-align: top;
    columns: 200px;
}
.skillshead {
    color:darkgrey;
    font-size: 16px;
}

.skillscontent  {
    vertical-align: top;
    width: 10px;
}
 

.table.work th, td {
    padding: 15px;
}

h4 {
    font-size: 24px;
    font-family: "HelveticaNeueLt Med";
}

h5 {
    font-size: 16px;
    font-family: "HelveticaNeueLt Roman";
}

.maincontent {
    padding-top: 115px;
    padding-left: 170px;
}

.maincontent2 {
    padding-top: 97px;
    padding-left: 250px;
}

.skilltable {
    width: 60vw;
}

h7 {
    
}

book {
}

author {
    font-family: "HelveticaNeueLT Std Lt Italic";
}

.pic1 {
    max-height: 220px;
    margin: 5px;
    align-content: center;
}

.port {
    max-height: 200px;
    height: 19vw;
    margin: 10px;
    align-content: center;
}

.date {
    color:darkgrey;
    font-size: 16px;
    line-height: 20px;
}

.position {
	font-size: 18px;	
    font-family: "HelveticaNeueLT Std Lt";
    border-bottom: 1px;
    border-bottom-color: #D80000;
}

.company {
	font-size: 16px;
    line-height: 20px;
    color: grey;
}

.jobinfo ul li {
    list-style-type: circle;
}

li {
    list-style-type: circle;
}


/* ------------------ Buttons ------------------ */

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
}


/* ----------------- Coloumns ---------------- */

.wrap {
   width:600px;
   margin:0 auto;
}
.left_col {
   float:left;
}
.right_col {
   float:right;
}

/* ------------------ Misc. ------------------ */

@font-face {
    font-family: "HelveticaNeueLT Std Lt";
	src: url("Fonts/HelveticaNeue-Light.otf");
}

@font-face {
    font-family: "HelveticaNeueLT Std Lt Italic";
	src: url("Fonts/HelveticaNeue-LightItalic.otf");
}

@font-face {
    font-family: "HelveticaNeueLt Med";
    src: url("Fonts/HelveticaNeueLTStd-Md.otf");
 }

@font-face {
    font-family: "HelveticaNeueLt Roman";
    src: url("Fonts/HelveticaNeueLTStd-Roman.otf");
 }

section .row img {
  margin: 10px 10px 10px 10px;
}


.redfont {
    color: #DB0000;
    font-family: "HelveticaNeueLt Med";

}

.headername {
    color: #000000;
	font-family: "U.S. 101";
	src: url("Fonts/US101.TTF");
	font-size: 40px;
	line-height: 32px;
	text-align: left;
	text-transform:uppercase ;
	text-decoration:none ;
	display: inline-block;
	transform : scale(1,1.5);
		-webkit-transform:scale(1,.87); /* Safari and Chrome */
		-moz-transform:scale(1,.87); /* Firefox */
		-ms-transform:scale(1,.87); /* IE 9+ */
		-o-transform:scale(1,.87); /* Opera */
	letter-spacing: -1.4px;
}

.Raha {
	color: #DB0000;
}

 .headshot {
    max-width: 200px;
    max-height: 750px;
    width: 30%;
    height: auto;
	float: right;	
}